<section>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/assets/images/inteligent-farming.jpg" class="d-block w-100" alt="inteligent farming">
            </div>
        </div>
    </div>
</section>
