@model PaginatedList<TechOnIt.Application.Common.Models.ViewModels.Roles.RoleWithUsersCountViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Roles & Permissions</h1>
<div class="row">
    @*- Add new user -*@
    <div class="mb-3">
        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addRoleModal">+ Add new</button>
    </div>
    @*- Role list -*@
    <div class="col-md-8">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Users count</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.items.Count > 0)
                {
                    int count = 1;
                    foreach (var role in Model.items)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@role.Name</td>
                            <td>@role.UsersCount</td>
                            <td class="tools text-end">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                        count++;
                    }
                }
                else
                {
                    <tr>
                        <td class="pt-5 pb-5 text-center text-muted" colspan="4">No roles found!</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Add Role Modal -->
<div class="modal fade backdrop-filter-blur" id="addRoleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleModalLabel">Create new role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createNewRoleForm" method="post" action="/manage/role/create">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="mb-1" for="role-name">Name</label>
                                <input id="role-name" class="form-control" name="Name" placeholder="Developer" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="$('#createNewRoleForm').submit()">Create</button>
            </div>
        </div>
    </div>
</div>