@{
    ViewData["Title"] = "Login into your account";
}

<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <h3 class="fw-bold text-center mb-4 mt-3">Login into your account</h3>
    <div class="pt-4">
        <form method="post" action="signin">
            @if (TempData["signin-summery"] is not null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["signin-summery"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @*<div>
            @Html.AntiForgeryToken()
            </div>*@
            <div class="form_group field mb-3">
                <input id="username" class="form_field" name="username" type="text" placeholder="Username" required />
                <label for="name" class="form_label">Username</label>
            </div>
            <div class="form_group field mb-3">
                <input id="password" class="form_field" name="password" type="password" placeholder="Password" required />
                <label for="name" class="form_label">Password</label>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input name="IsPersistent" class="form-check-input" type="checkbox" id="isPersistentCheck" value="True">
                    <label class="form-check-label" for="isPersistentCheck">
                        Remember me
                    </label>
                </div>
            </div>
            <div class="d-grid mt-5">
                <button class="d-none d-sm-block btn btn-primary" type="submit">Signin</button>
                @* Mobile Btn *@
                <button class="d-block d-sm-none btn btn-lg btn-primary" type="submit">Signin</button>
            </div>
        </form>
    </div>
</div>