@using TechOnIt.Application.Common.Models.ViewModels.Structures;
@model StructureCardViewModel
@{
    string structureIcon = "fa-home";
    if (Model.Type == StuctureType.Agriculture)
    {
        structureIcon = "fa-seedling";
    }
    else if (Model.Type == StuctureType.Aviculture)
    {
        structureIcon = "fa-tractor";
    }
}
@if (Model.IsActive)
{
    <div class="card user-select-none">
        <div class="card-body">
            <div class="d-flex flex-column text-center">
                <div class="row mb-2">
                    <div class="col smallest text-start">
                        <i class="fa fa-circle text-green"></i>
                    </div>
                    <div class="col h2"><i class="fa @structureIcon text-secondary"></i></div>
                    <div class="col"></div>
                </div>
                <label class="h5 fw-bolder text-primary">@Model.Name</label>
                <label class="text-muted smaller">@Model.Description</label>
            </div>
        </div>
        <div class="card-footer d-flex gap-1">
            <a class="btn btn-sm mx-auto btn-primary w-100" href="structure/places?name=@Model.Name.Replace(" ", "_")&structureId=@Model.Id">Manage</a>
            @*<a class="btn btn-sm mx-auto btn-secondary" href="#"><i class="fa fa-cog"></i></a>*@
        </div>
    </div>
}
else
{
    <div class="card user-select-none">
        <div class="card-body">
            <div class="d-flex flex-column text-center">
                <div class="row mb-2">
                    <div class="col smallest text-start">
                        <i class="fa fa-circle text-secondary opacity-50"></i>
                    </div>
                    <div class="col h2"><i class="fa @structureIcon text-secondary opacity-50"></i></div>
                    <div class="col"></div>
                </div>
                <label class="h5 fw-bolder text-secondary">@Model.Name</label>
                <label class="text-muted smaller">Name</label>
            </div>
        </div>
        <div class="card-footer text-center">
            <label class="text-secondary small">This structure is deactive.</label>
        </div>
    </div>
}
