@{
    ViewData["Title"] = "Home Page";
    List<string> images = new List<string>()
    {
        "company-cuate.svg",
        "company-bro.svg",
        "company-pana.svg"
    };
}

@await Component.InvokeAsync("HomePageTop")

<div class="d-none d-sm-block text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage and track users activities and assets in identity panel.</p>
</div>

<div class="container-fluid py-3 d-sm-none vh-100 d-flex flex-column justify-content-between">
    <div>
        <img class="w-100 mb-4" src="~/assets/images/@(images.OrderBy(i => Guid.NewGuid()).FirstOrDefault())" />
        <h1 class="fw-bolder text-center text-success">Identity - Techonit</h1>
        <p class="text-muted">Manage and track users activities and assets in identity panel.</p>
    </div>
    <div>
        <div class="d-grid">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success btn-lg rounded-pill" href="/manage/dashboard">Manage</a>
            }
            else
            {
                <a class="btn btn-success btn-lg rounded-pill" href="/authentication/signin">Get Started <i class="fa fa-angle-right"></i></a>
            }
        </div>
    </div>
</div>

