<footer class="content-footer footer bg-footer-theme">
    <div class="container-fluid d-flex flex-wrap justify-content-between py-3 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            طراحی شده با ❤️ ارائه شده در وب‌سایت
            <a href="https://rtl-theme.com" target="_blank" class="footer-link fw-semibold">راست‌چین</a>
        </div>
        <div>
            <a href="https://rtl-theme.com" class="footer-link me-4" target="_blank">لایسنس</a>
            <a href="https://rtl-theme.com" target="_blank" class="footer-link me-4">قالب‌های بیشتر</a>

            <a href="https://v3dboy.ir/previews/html/frest/documentation" target="_blank" class="footer-link me-4">مستندات</a>

            <a href="https://rtl-theme.com" target="_blank" class="footer-link d-none d-sm-inline-block">پشتیبانی</a>
        </div>
    </div>
</footer>