<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Technology on it!</title>
    <link href="~/fonts/barlow/css/barlow.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/fonts/iran-sans/css/fontiran.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/css/sidebar-menu.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    @* Css Isolation *@
    <link rel="stylesheet" href="~/@(nameof(TechOnIt)).styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column menu-collapsed">
    @{
        await Html.RenderPartialAsync("_Header");
    }
    <!-- Sidebar Menu -->
    @{
        await Html.RenderPartialAsync("_SidebarMenu");
    }
    <!-- Content -->
    <main role="main" class="content">
        <div id="app" class="content-wrapper container-fluid">
            @RenderBody()
        </div>
    </main>
    <!-- Scripts -->
    @{
        await Html.RenderPartialAsync("_Scripts");
        await RenderSectionAsync("Scripts", required: false);
    }
</body>
</html>