<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Technology on it!</title>
    <meta http-equiv="Cache-control" content="public">
    @* Styles *@
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/sidebar-menu.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    @* Fonts *@
    <link rel="preload" as="style" href="/fonts/barlow/css/barlow.min.css" onload="this.rel='stylesheet'" />
    <link rel="preload" as="style" href="/fonts/iran-sans/css/fontiran.min.css" onload="this.rel='stylesheet'" />
    <link rel="preload" as="style" href="/lib/font-awesome/css/fontawesome.min.css" onload="this.rel='stylesheet'" />
</head>
<body class="d-flex flex-column menu-collapsed">
    @{
        await Html.RenderPartialAsync("_Header");
    }
    <!-- Sidebar Menu -->
    @{
        await Html.RenderPartialAsync("_SidebarMenu");
    }
    <!-- Content -->
    <main role="main" class="content">
        <div id="app" class="content-wrapper container-fluid">
            @RenderBody()
        </div>
    </main>
    <!-- Scripts -->
    @{
        await Html.RenderPartialAsync("_Scripts");
        await RenderSectionAsync("Scripts", required: false);
    }
</body>
</html>