<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/assets/images/logo/logo.svg" />
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">Techonit</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item active open">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-tachometer"></i>
                <div data-i18n="Dashboards">Dashboards</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item active">
                    <a asp-area="Dashboard" asp-controller="Overview" asp-action="Index" class="menu-link">
                        <div data-i18n="Overview">Overview</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Structure -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Catalog">Catalog</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="Dashboard" asp-controller="Structure" asp-action="Index" class="menu-link">
                        <div data-i18n="Structures">Structures</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>