@model TechOnIt.Application.Common.Models.ViewModels.Structures.StructureGroupsWithRelayViewModel
@{
    ViewData["Title"] = @Model.Name + " groups";
}

<div class="row">
    @* Groups *@
    @if (Model.Groups is not null && Model.Groups.Count > 0)
    {
        <div class="d-flex justify-content-between mb-4">
            <div class="central">
                <label class="fw-bold h2">@Model.Name Group's</label>
            </div>
            <div class="central">
                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newGroupModal">
                                <i class="fa fa-plus me-2"></i> New group
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync(typeof(GroupsWithRelaysControlViewComponent), new { groups = Model.Groups })
    }
    else
    {
        @* Groups not found *@
        <div class="col-12 col-md-6 offset-md-3">
            <img class="w-100 opacity-75" src="~/assets/images/stocks/Shed-pana.svg" />
        </div>
        <div class="col-12">
            <div class="text-center">
                <label class="h3 fw-bold">No groups were found!</label>
            </div>
            <div class="d-grid d-sm-block text-center mt-3">
                <button id="new-group" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#newGroupModal">+ New</button>
            </div>
        </div>
    }
</div>

<!-- New Group Modal -->
<div class="modal fade" id="newGroupModal" tabindex="-1" aria-labelledby="newGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newGroupModalLabel">New group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/dashboard/group/new">
                @* Structure Id *@
                <input type="hidden" name="StructureId" value="@Model.Id" />
                <div class="modal-body">
                    <div class="form_group field mb-3">
                        <input id="new-group-name" class="form_field" name="Name" type="text" groupholder="Name" maxlength="20" required />
                        <label for="new-group-name" class="form_label">Name</label>
                    </div>
                    <div class="form_group field mb-3">
                        <textarea id="new-group-description" class="form_field" name="Description" groupholder="Description" maxlength="100"></textarea>
                        <label for="new-group-description" class="form_label">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- New Relay Modal -->
<div class="modal fade" id="newRelayModal" tabindex="-1" aria-labelledby="newRelayModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newRelayModalLabel">New relay</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/dashboard/relay/new">
                @* Group Id *@
                <input id="new-relay-group-id" type="hidden" name="GroupId" value="@Model.Id" />
                <div class="modal-body">
                    <div class="form_group field mb-3">
                        <select id="new-relay-type" class="form_field" required>
                            <option value="1">💡 Light, Lamp, LED</option>
                            <option value="2">🔥 Heater, Warmer</option>
                            <option value="3">❄️ Cooler, Air conditioner</option>
                            <option value="4">🌬️ Fan, Chiller</option>
                        </select>
                        <label for="new-relay-description" class="form_label">Type</label>
                    </div>
                    <div class="form_group field mb-3">
                        <input id="new-relay-name" class="form_field" name="Pin" type="number" groupholder="#0 - #255" min="1" max="255" maxlength="3" required />
                        <label for="new-relay-name" class="form_label">Pin</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Relay On/Off
        const toggleRelayStatus = function (e, relayId, status) {
            $(e).prop("disabled", true);
            var requestOptions = {
                method: 'GET',
                redirect: 'follow'
            };
            var url = '/dashboard/relay/' + status + '?relayId=' + relayId;
            fetch(url, requestOptions)
                .then(response => response.text())
                .then(function () {
                    location.reload();
                })
                .catch(error => function () {
                    console.log('error', error);
                    $(e).prop("disabled", false);
                });
        }

        // New Relay Click
        $(document).on('click', '[data-bs-target="#newRelayModal"]', function () {
            $('#newRelayModal #new-relay-group-id').val($(this).attr('data-group-id'));
        });
    </script>
}