@model TechOnIt.Application.Common.Models.ViewModels.Structures.StructurePlacesWithDevicesViewModel
@{
    ViewData["Title"] = "Info";
}

<h1>@Model.Name Places</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var place in Model.Places)
        {
            <div class="col-12 col-sm-3 col-md-4">
                <h4>@place.Name</h4>
                <hr>
                <div class="d-flex">
                    @foreach (var device in place.Devices)
                    {
                        <a href="/dashboard/device/@(device.IsHigh ? "off":"on")?id=@device.Id&structureId=@Model.Id" class="btn btn-sm @(device.IsHigh ? "btn-primary":"btn-secondary")">
                            <i class="fa @(device.IsHigh ? "fa-lightbulb-on":"fa-lightbulb")"></i>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>