@model TechOnIt.Application.Common.Models.ViewModels.Structures.StructurePlacesWithDevicesViewModel
@{
    ViewData["Title"] = "Manage places";
}

<h2 class="fw-bold">@Model.Name Place's</h2>

<div class="row">
    @* Places *@
    @if (Model.Places is not null && Model.Places.Count > 0)
    {
        foreach (var place in Model.Places)
        {
            <div class="col-12 col-sm-3 col-md-4">
                <h4>@place.Name</h4>
                <hr>
                @* Devices *@
                <div class="d-flex">
                    @if (place.Devices.Count > 0)
                    {
                        foreach (var device in place.Devices)
                        {
                            <a href="/dashboard/device/@(device.IsHigh ? "off":"on")?id=@device.Id&structureId=@Model.Id" class="btn btn-sm @(device.IsHigh ? "btn-primary":"btn-secondary")">
                                <i class="fa @(device.IsHigh ? "fa-lightbulb-on":"fa-lightbulb")"></i>
                            </a>
                        }
                    }
                    else
                    {
                        @* Device Not Found *@
                    }
                </div>
            </div>
        }
    }
    else
    {
        @* Places not found *@
        <div class="col-12 col-md-6 offset-md-3">
            <img class="w-100 opacity-75" src="~/assets/images/stocks/Shed-pana.svg" />
        </div>
        <div class="col-12">
            <div class="text-center">
                <label class="h3 fw-bold">No places were found!</label>
            </div>
            <div class="d-grid d-sm-block text-center mt-3">
                <button id="new-place" class="btn btn-primary btn-lg">+ New</button>
            </div>
        </div>
    }
</div>