<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Technology on it!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    @* Fonts *@
    <link rel="preload" as="style" href="/fonts/barlow/css/barlow.min.css" onload="this.rel='stylesheet'" />
</head>
<body class="vh-100 d-flex flex-column">
    <main class="container mt-auto" role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted mt-auto py-3">
        <div class="container">
            &copy; 2023 - Technology on it • Desk
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/rest.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script> *@
    <script>
        // Direction auto
        $('input[type=text], textarea').keyup(function () {
            $(this).val().charAt(0).charCodeAt(0) > 200 ?
                $(this).css('direction', 'rtl') : $(this).css('direction', 'ltr');
        });
        // Dark mode
        var mode = "light";
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)
            mode = 'dark';
        $('body').attr("data-bs-theme", mode);


        // signalR
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/SensorHub")
            .build();

        connection.on("ReceiveReport", function (message) {
            console.log("Report received:", message);
            // Update UI here
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
