html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
}

.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.ellipsis-text {
    text-overflow: ellipsis;
    white-space: nowrap;
}
