html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
}

.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.ellipsis-text {
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tbody tr:hover {
    background: #1a083312;
    transition: 0.3s linear;
}

table tr td.tools {
    opacity: 0;
    transition: 0.3s linear;
}

table tr:hover td.tools {
    opacity: 1;
}

.backdrop-filter-blur {
    backdrop-filter: blur(5px);
}
