@{
    ViewData["Title"] = "Mine";
    Layout = "~/Views/Shared/_MineLayout.cshtml";
}
<div class="vh-100 py-5" style="background:linear-gradient(60deg, #1c0033, #380066)">
    <div class="container-fluid d-flex flex-column justify-content-between h-100">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column mb-5 text-white text-center">
                <div class="mb-4">
                    <div>
                        <label class="h3 fw-bold">RezaAmd</label>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-center h1">
                        <div class="d-flex gap-2 align-items-center">
                            <span>🪙</span>
                            <span class="fw-bolder" style="font-size:50px;">0</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center gap-1 fw-bold h4">
                        <span>🏆</span>
                        <span>Boronze</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="~/img/toi_coin.svg" width="220" style="filter:grayscale(0.6);" />
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="d-grid">
                <button class="btn btn-lg btn-secondary">Comming Soon...</button>
            </div>
        </div>
    </div>
</div>