@using TechOnIt.Application.Common.Models.ViewModels.Devices;
@model DeviceCardControlViewModel

@{
    string deviceIcon = "far fa-lightbulb";

    if (Model.DeviceType == TechOnIt.Domain.Enums.DeviceType.Light)
        deviceIcon = Model.IsHigh ? "fa fa-lightbulb-on" : "far fa-lightbulb";
    if (Model.DeviceType == TechOnIt.Domain.Enums.DeviceType.Heater)
        deviceIcon = Model.IsHigh ? "fa fa-temperature-high" : "far fa-temperature-high";
    if (Model.DeviceType == TechOnIt.Domain.Enums.DeviceType.Cooler)
        deviceIcon = Model.IsHigh ? "fa fa-snowflake" : "fa fa-snowflake";
    if (Model.DeviceType == TechOnIt.Domain.Enums.DeviceType.Fan)
        deviceIcon = Model.IsHigh ? "fa fa-fan" : "far fa-fan";
}

<button class="device-control btn btn-lg @(Model.IsHigh ? "btn-primary":"btn-outline-primary")" onclick="toggleDeviceStatus(this,'@Model.Id', '@(Model.IsHigh ? "off":"on")')" type="button" data-bs-toggle="tooltip" data-bs-title="Pin: #@Model.Pin">
    <i class="@deviceIcon"></i>
</button>