@using TechOnIt.Application.Common.Models.ViewModels.Devices;
@model IList<DeviceCardControlViewModel>

@if (Model is not null && Model.Count > 0)
{
    <div class="d-flex flex-wrap gap-1">
        @foreach (var device in Model)
        {
            @* Device Control *@
            @await Component.InvokeAsync(typeof(DeviceCardControlViewComponent), new { device })
        }
    </div>
}
else
{
    @* Device Not Found *@
    <div class="text-center">
        <p class="text-muted small mt-4">No devices found.</p>
    </div>
}