@{
    ViewData["Title"] = "Profile";
}
<div class="row">
    <div class="col-12 col-md-4">
        @* Information *@
        <div class="card">
            <div class="card-body text-center">
                <div>
                    <h5 class="fw-bolder">Reza Ahmadi</h5>
                </div>
                <div class="small">
                    <div>
                        <label>rezaahmadidvlp@gmail.com</label>
                    </div>
                    <div>
                        <label>09058089095</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* Edit profile *@
    <div class="col-12 col-md-8">
        <div class="card">
            <div class="card-body"></div>
        </div>
    </div>
</div>