/* Scrollbar Start */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: #c8cbcf;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #babec4;
    }

::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
}
/* Scrollbar legend */

html {
    position: relative;
    min-height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #efefef inset !important;
}

body {
    min-height: 100vh;
}

    body.home-page-body > main.container {
        max-width: inherit;
        width: 100%;
        padding: 0;
        margin: 0;
    }

.bg-dark-noise {
    background-image: url(/assets/images/dark-noise.jpg);
    background-repeat: repeat;
}

.bg-white-noise {
    background-image: url(/assets/images/white-noise.jpg);
    background-repeat: repeat;
}

.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.ellipsis-text {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-hover-mark tbody tr:not(.no-content):hover {
    background: rgb(74, 46, 127, 0.10);
    transition: 0.3s linear;
    border-radius: .5rem;
    overflow: hidden;
}

table tr td.tools {
    opacity: 0;
    transition: 0.3s linear;
}

table tr:hover td.tools {
    opacity: 1;
}

.backdrop-filter-blur {
    backdrop-filter: blur(5px);
}

.password-control {
    position: relative;
}

    .password-control button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 3px 11px;
        background: unset;
        border: unset;
    }