@{
    ViewData["Title"] = "Login into your account";
}
@*- Mobile Navigation -*@
<div class="d-sm-none my-3">
    <div class="d-flex">
        <a class="nav-link text-dark" href="/"><i class="fa fa-angle-left me-2"></i> Home</a>
    </div>
</div>
@*- Desktop mode icon -*@
<div class="d-none d-sm-block">
    <h3>Login into your account</h3>
    <br />
</div>
<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <div class="p-3 pb-4">
        @*- Mobile icon -*@
        <div class="d-sm-none text-center mb-5">
            <h2 class="d-sm-none fw-bold text-success">Login into your account</h2>
        </div>
        <form method="post" action="signin">
            @*<div>
            @Html.AntiForgeryToken()
            </div>*@
            <div class="mb-3">
                <label class="mb-2">Username</label>
                <input name="Username" class="form-control" placeholder="Username, Email" type="text" maxlength="50" />
            </div>
            <div class="mb-3">
                <label class="mb-2">Password</label>
                <input name="Password" class="form-control" placeholder="Password" type="password" maxlength="50" />
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input name="IsPersistent" class="form-check-input" type="checkbox" id="isPersistentCheck" value="True">
                    <label class="form-check-label" for="isPersistentCheck">
                        Remember me
                    </label>
                </div>
            </div>
            <div class="d-grid mt-5">
                @*- Desktop btn -*@
                <button class="d-none d-sm-block btn btn-success" type="submit">Signin</button>
                @*- Mobile btn -*@
                <button class="d-sm-none btn btn-success btn-lg" type="submit">Signin</button>
            </div>
        </form>
    </div>
</div>