$primary: #075fe1;
$secondary: #48d8f9;
$successPrimary: #11998e;
$successSecondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$dark: #282d38;

.form_group {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
}

.form_field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: var(--bs-body-color);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form_label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form_field:disabled {
    color: $gray;
}

.form_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form_field:focus {
    ~ .form_label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
}

.form_primary .form_field:focus {
    ~ .form_label {
        color: $primary;
    }

    border-image: linear-gradient(to right, $primary,$secondary);
}

.form_primary .form_field:focus {
    ~ .form_label {
        color: $primary;
    }

    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
}

.form_group_sm {
    .form_field {
        font-size: 1rem !important;
    }

    .form_label {
        font-size: 1rem !important;
    }

    .form_field:focus {
        ~ .form_label {
            font-size: 1rem !important;
        }
    }

    &:placeholder-shown ~ .form_label {
        font-size: 1.1rem !important;
        top: 23px;
    }
}

input:-internal-autofill-selected {
    background-color: transparent;
}
