@{
    ViewData["Title"] = "Index";
}

<h1>Users list</h1>

<div class="container-fluid">
    <table class="table table-responsive table-borderless">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>
</div>

