@{
    ViewData["Title"] = "Desk";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User assistant to manage micro controllers and report sensors. <a href="/authentication/signin">Let's go!'</a></p>
</div>
