@{
    ViewData["Title"] = "Desk";
}

<section>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <img src="~/assets/images/smart-farming.svg" class="d-block w-100" alt="inteligent farming">
        </div>
        <div class="col-12 col-sm-6 col-md-8">
            <h4>Build your smart farming!</h4>
            <p></p>
        </div>
    </div>
</section>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User assistant to manage micro controllers and report sensors. <a href="/authentication/signin">Let's go!'</a></p>
</div>
