@{
    ViewData["Title"] = "Overview";
}
<h1>Overview</h1>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                </div>
                <div class="col-md-6">
                    <h5>New users</h5>
                    <canvas id="newUserChart"></canvas>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        var labels = ['May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan'];
        var datasets = [
            {
                data: [12, 19, 14, 5, 14, 6, 13, 8, 21]
            }
        ]

        generateChart('newUserChart', "line", datasets, labels);

        function generateChart(id, type, datasets, labels) {
            const ctx = document.getElementById(id);
            const ctx2d = ctx.getContext("2d");
            // Fill gradient
            var gradient = ctx2d.createLinearGradient(0, 25, 0, 95);
            gradient.addColorStop(0, 'rgba(34, 1, 181, 0.8)');
            gradient.addColorStop(0.1, 'rgba(34, 1, 181, 0.6)');
            gradient.addColorStop(0.9, 'rgba(73, 0, 114, 0.1)');
            // Line gradient
            var linegradient = ctx2d.createLinearGradient(0, 0, ctx.offsetWidth, 0);
            linegradient.addColorStop(0, 'rgba(255, 255, 255, 0)');
            linegradient.addColorStop(0.1, 'rgba(255, 255, 255, 0.8)');
            linegradient.addColorStop(0.9, 'rgba(255, 255, 255, 0.8)');
            linegradient.addColorStop(1, 'rgba(255, 255, 255, 0)');

            datasets = datasets.map(dataset => {
                return {
                    data: dataset.data,
                    backgroundColor: gradient,
                    fillColor: gradient,
                    borderColor: linegradient,
                    tension: 0.4,
                    fill: true,
                    cubicInterpolationMode: 'monotone',
                    pointBackgroundColor: "#fff",
                    pointBorderColor: "##1f0f7e",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "##1f0f7e",
                    pointRadius: 0
                };
            });

            new Chart(ctx, {
                type: type,
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    bezierCurve: false,
                    responsive: true,
                    scales: {
                        x: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        y: {
                            display: false,
                            title: {
                                display: false
                            }
                        },
                        //suggestedMin: -10,
                        //suggestedMax: 200
                    },
                    interaction: {
                        intersect: false
                    },
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    layout: {
                        padding: {
                            left: 3,
                            right: 3
                        }
                    }
                }
            });
        }
    </script>
}