<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internallogfile="logs\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>
	  
    <target xsi:type="File" name="LogFile" fileName="${basedir}/logs/nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

	  <!--<target type="Database" name="database" connectionstring="Data Source=.;Initial Catalog=TechOnIt;Integrated Security=True;Persist Security Info=True;Encrypt=true;TrustServerCertificate=true;">
		  <commandText>
			  INSERT INTO NLogEntries ([Origin], [Message], [LogLevel],[CreatedOn],[OrderId]) VALUES (@Origin,@Message,@LogLevel,@Date, @OrderId);
		  </commandText>
		  <parameter name="@Date" layout="${date}" dbType="DbType.Date"/>
		  <parameter name="@Origin" layout="${callsite}"/>
		  <parameter name="@LogLevel" layout="${level}"/>
		  <parameter name="@message" layout="${message}"/>
		  <parameter name="@OrderId" layout="${event-properties:MyOrderId}" dbType="DbType.Int32"/>
	  </target>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="ColorConsole" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
  </rules>
</nlog>