@{
    ViewData["Title"] = "Index";
}

<h1>Roles & Permissions</h1>
<div class="row">
    <div class="col-md-8">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th colspan="2">NO Users</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Admin</td>
                    <td>3</td>
                    <td class="tools text-end">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>